@model BrowseReviewsViewModel

<div class="container-fluid">

    @foreach (ReviewDetailsDto review in Model.Reviews)
    {
        <div class="row">
            <div class="col-4">

                <h3>@review.Score</h3>
                @*user name and country*@
                <p>Room: @review.RoomTitle</p>
                @*Stayed 2 nights in July 2015*@
                <p>Stayed @((review.CheckOutDate - review.CheckInDate).Days) nights in @review.CheckInDate.Year</p>

                <p>Adults: @review.AdultsCount</p>

                <p>Reviewed On @review.ReviewedOnDate.ToString("MMMM dd, yyyy")</p>
                
                @if (review.IsAuthor)
                {
                    <a>Edit</a>
                    <a>Delete</a>
                }
            </div>
            <div class="col-8">
                <h6>@review.Title</h6>

                <p>@review.Comment</p>
            </div>
        </div>
    }
    <form method="get">
        <input hidden asp-for="@Model.HotelId" />

        <div class="row">
            <partial name="_Pagination" model="@Model.Pager" />
        </div>
    </form>
</div>
