@model SearchHotelsViewModel

<div class="container-fluid">
    <div class="mb-3">
        <label for="searchBar" class="form-label">Search location:</label>
        <input id="searchBar" asp-for="@Model.City" type="text" class="form-control" placeholder="Search">
        <span asp-validation-for="@Model.City" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.CheckInDate" class="form-label">Check-in Date:</label>
        <input asp-for="@Model.CheckInDate" type="date" class="form-control" />
        <span asp-validation-for="@Model.CheckInDate" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.CheckOutDate" class="form-label">Check-out Date:</label>
        <input asp-for="@Model.CheckOutDate" type="date" class="form-control" />
        <span asp-validation-for="@Model.CheckOutDate" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.AdultsCount" class="form-label">Adults Count:</label>
        <input asp-for="@Model.AdultsCount" type="number" class="form-control" />
        <span asp-validation-for="@Model.AdultsCount" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.RoomsCount" class="form-label">Rooms Count:</label>
        <input asp-for="@Model.RoomsCount" type="number" class="form-control" />
        <span asp-validation-for="@Model.RoomsCount" class="text-danger"></span>
    </div>
    <button class="btn btn-outline-secondary" type="submit">Search</button>
</div>
