@model IEnumerable<FacilityControlDetailsDto>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["OK"] != null)
{
    <p class="alert-success">@TempData["OK"]</p>
}

@if (TempData["Error"] != null)
{
    <p class="alert-danger">@TempData["Error"]</p>
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PublicId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SvgTag)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PublicId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SvgTag)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PublicId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PublicId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PublicId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
