@model ICollection<ManagerHotelPreviewDto>

@if (TempData["Error"] != null)
{
    <p class="alert-danger">@TempData["Error"]</p>
}

@if (TempData["OK"] != null)
{
    <p class="alert-success">@TempData["OK"]</p>
}

<div class="container">
    <div class="row gy-5 row-cols-1 row-cols-sm-2 row-cols-xl-3">
        @foreach (var hotel in Model)
        {
            <div class="col">
                <h3>@hotel.Name</h3>
                <div class="d-flex gap-1">
                    @for (int i = 0; i < hotel.StarRating; ++i)
                    {
                        <div class="svg-container svg-star">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="gold">
                                <path d="M23.555 8.729a1.505 1.505 0 0 0-1.406-.98h-6.087a.5.5 0 0 1-.472-.334l-2.185-6.193a1.5 1.5 0 0 0-2.81 0l-.005.016-2.18 6.177a.5.5 0 0 1-.471.334H1.85A1.5 1.5 0 0 0 .887 10.4l5.184 4.3a.5.5 0 0 1 .155.543l-2.178 6.531a1.5 1.5 0 0 0 2.31 1.684l5.346-3.92a.5.5 0 0 1 .591 0l5.344 3.919a1.5 1.5 0 0 0 2.312-1.683l-2.178-6.535a.5.5 0 0 1 .155-.543l5.194-4.306a1.5 1.5 0 0 0 .433-1.661z"></path>
                            </svg>
                        </div>
                    }
                </div>
                <p class="text-secondary">@(hotel.StreetAddress + ", " + hotel.CityName + ", " + hotel.CountryName)</p>

                <a class="btn btn-outline-warning"
                   asp-controller="@HotelsController.Name"
                   asp-action="@nameof(HotelsController.Edit)"
                   asp-route-publicId="@hotel.PublicId">
                    Edit
                </a>

                <a class="btn btn-outline-info"
                   asp-controller="@ManagerController.Name"
                   asp-action="@nameof(ManagerController.MyRooms)"
                   asp-route-hotelId="@hotel.PublicId">
                    Manage Rooms
                </a>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal@(hotel.PublicId)">
                    Delete
                </button>

                <!-- Modal -->
                <div class="modal fade" id="deleteModal@(hotel.PublicId)" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Hotel Deletion Confirmation</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                Are you Sure you want to Delete @hotel.Name Hotel?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                                <form asp-controller="@HotelsController.Name"
                                      asp-action="@nameof(HotelsController.Delete)">

                                    <input hidden name="publicId" value="@hotel.PublicId" />

                                    <button class="btn btn-outline-danger"
                                            type="submit">
                                        Confirm Delete
                                    </button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="col">
            <a class="btn btn-success btn-lg"
               asp-controller="@HotelsController.Name"
               asp-action="@nameof(HotelsController.Add)">
                Add Hotel
            </a>
        </div>
    </div>
</div>
